/*
** Didn't bother organizing this because it's short and simple
*/

/* Resets */

.row{
	max-width:1280px;
}

/* Normal CSS */

*{
	font-family: 'Roboto Slab', serif;
	box-sizing:border-box;
}

h1, h2, h3, h4 {
	font-family: 'Cinzel Decorative', cursive;
	color: #fff;
}

h1 span{
	background:#fff;
	border:2px solid red;
	border-radius:4px;
	color:red;
	display:inline-block;
	font-size:24px;
	position: relative;
	bottom:24px;
	right:40px;
	height:36px;
	width:80px;
    -webkit-transform: rotate(40deg);
	-moz-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}

@media screen and (max-width:450px){
	h1 span{
		position: absolute;
		top:24px;
		right:4px
	}
}

body {
	background: url(../images/primary-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}

.nav{
	background:#444;
	box-shadow:0 2px 4px #000;
	margin-bottom:8px;
	text-shadow:2px 2px 1px #111;
}

label{
	color:#fff;
}

a{
	color:#91278f;
}

a:hover{
	color:#91278f;
}

button, .button, .btn{
	background:#91278f;
}

button:hover, .button:hover, .btn:hover{
	background:#5c195a;
}

/* Sounds CSS */

.search{
	margin:4px auto 36px;
	max-width:300px;
}

.sound-grid{
	padding:0 16px;
}

.sound-grid li{
	position: relative;
}

.sound-grid i{
	cursor:pointer;
	position: absolute;
	top:-12px;
	right:0;
}

.sound-btn{
	border-radius:8px;
	box-shadow:
		2px 2px 2px #111,
		-2px 2px 2px #111,
		2px -2px 2px #111,
		-2px -2px 2px #111;
	cursor:pointer;
	padding-top:8px;
	padding-bottom:8px;
	width:100%;
}

.sound-btn.active{
	border:2px solid #fff;
}

.reveal-modal, .reveal-modal h3{
	color:#111;
	text-align: left;
}
